## <a href="https://colab.research.google.com/drive/1dSOH9noYdxmUWxaKlPnGsV4bzEiO_jfS?usp=sharing" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Student Grade Prediction Model

In [33]:
# Reuired Modules
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [42]:
# Dataset path
path='student-mat.csv'
data=pd.read_csv(path) 
data.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [43]:
#data.info()
#data.describe()

In [44]:
#print(len(data["age"]))
data = data[["health", "freetime", "G1", "G2", "G3", "studytime", "failures", "absences"]]
x = np.array(data.drop(["G3"], 1))
y = np.array(data["G3"])
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3)

In [45]:
linear_regression = LinearRegression()
linear_regression.fit(xtrain, ytrain)
accuracy = linear_regression.score(xtest, ytest)
print(accuracy)

0.7516949572846561

In [46]:
predictions = linear_regression.predict(xtest)
print(predictions)

[16.42130529  6.81146228  9.36097387 17.06905007 12.72221494 11.88360606
 10.77066067 12.5983402  15.53881089 13.13972823 16.21460917 17.61376192
 20.1133225  14.15665766  4.37201118  8.37312274 14.16177662  3.97515573
 13.32671602  8.62594576 12.79661979 11.4976526   5.89489664  9.31478585
  8.01831588  9.15825858 16.21131159  8.78786209  4.73409645  8.7454005
 12.81029549 14.08159268  9.16795346 11.93771693 12.31417685 10.19595997
 11.55926139 15.49074922 10.81505042 15.58469995 12.48818164 10.65602593
  8.42117779  6.26472566 15.27274472  7.31157911 16.21718177  8.07897996
  6.40832532  8.31433833 14.03476021  8.41460867  9.55745519  8.7890913
 16.09585338 10.5528352   6.63185538  8.38725726  8.89106852 16.73768052
 11.35184807 11.24679425 16.45329767 12.60034374 15.02743795 15.13524341
  5.95710546 14.23566154 12.75029156  8.70762901  6.19257484  5.66744774
  7.55884748  9.31620671 19.3064865   5.23607164 11.83973624 14.03146263
 11.98411023 10.882837   13.65878829  9.0862715  12.98855121  8.60184998
  9.84519099  5.60830114  9.07987291 10.37394559  9.83227282 13.46774306
  7.24313239 12.35147531 12.43755398  9.55677193 15.03783177  7.99845447
 13.19010236 18.74913472  9.61495159 15.00056453 12.08010969 12.1505337
 10.26833247  6.34082809  7.89467898 12.18502725 15.04375109  7.93126015
 17.55400184  9.54919935  9.29352884 11.17069644 20.20604402  9.34085892
 10.59581672  5.28167797  8.84517946 11.98192766 18.4702712 ]